doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title test-1
    base(href="../")
  body
    h1 test-1
    h2 二级目录
    a(href="about.html") to about
    div
      img(src="../../assets/img/avatar.jpg", alt="")
      img(src="/assets/img/AbsolutePath.jpg", alt="")
    include ../_tpls/a.pug
    